/*! ==========================================
 * Home
 *
 * .home-blog
 * .home-blog__post
 * .home-blog-post__link
 * .home-blog-post__head
 * .home-blog-post__excerpt
 * .home-blog-post__details
 * .home-blog-post__time
 *
 * ========================================== */

@require "../global/variables"
@require "../util/function"


.home
	align-items: center

/* IE10 doesn't confine content to view width so I have to.
 * Reset width to default once padding/margin goes away
 */
.home__section
	width: 100%
	padding-top: 2rem
	padding-bottom: 2rem

.home-section__head
	margin-bottom: 2em
	padding-bottom: 0
	border-bottom: 0
	font-size: 0.8em
	font-weight: 400



/*! Home: Blog
* ========================================== */

.home-blog__post
	font-family: $font.sans
	font-weight: normal

.home-blog-post__link
	&,
	&:visited,
	&:hover > .home-blog-post__excerpt
		color: $color.text.base
	&:hover > .home-blog-post__details
		color: $color-link.body.hover

.home-blog-post__head
	line-height: 1.125em
	margin-bottom: 0.4em
	padding-bottom: 0
	border-bottom: 0



.home-blog-post__excerpt
	&,&:visited
		color: $color.text.light

.home-blog-post__details
	display: block
	margin-top: pxToEm(18, rem)
	font-size: pxToEm(12)
	&,&:visited
		color: $color.salmon.base



/*! Home: Screen >= Tablets
 * ===========================================*/

+responsiveBreakPoint($view.sm)
	.home-blog-post__head
		text-align: center

	.home-blog-post__details
		text-align: center
		&::before
			padding-right: 1.25em
			content: "\2014"
		&::after
			padding-left: 1.25em
			content: "\2014"



/*! Home: Screen >= Desktop
 * ===========================================*/

+responsiveBreakPoint($view.md)
	.home__section
		width: auto

