/*! ==========================================
 * Home
 * ========================================== */

@require "../global/configuration"

.home
	 {$main-wrap}
	 padding: 2rem $mobile.margin

.home-blog,
.home-twitter,
.home-github,
.home-instagram
	margin-bottom: 2rem
	padding-bottom: 3rem
	border-bottom: 1px dashed $color.grey.light

/*! Blog
 * ========================================== */

.home-blog-list
	list-style: none

.home-blog-post-link
	color: $color.teal.dark
	&:visited
		color: $color.text.base
	&:hover, &:hover .home-blog-post-excerpt
		text-decoration: none
		color: $color.salmon.base

.home-blog-post-header
	text-align: center
	margin-bottom: 0.25em
	&:visited
		color: $color.text.base

.home-blog-post-excerpt
	color: $color.text.light
	font-size: 0.95rem
	&:active
		color: $color.black.pure

.home-blog-post-time
	display: block
	margin-top: 1.5rem
	text-align: center
	text-transform: uppercase
	font-family: $font-sans
	font-weight: normal
	font-size: 0.75rem
	&:before, &:after
		content: "•"
		padding-left: 1.2em
		padding-right: 1.2em


/*! Magical Ribbon */
.home-blog-ribbon
	width: 80%
	position: relative
	background: $color.salmon.light
	color: #fff
	text-shadow: 0 0.10em 1px $color.salmon.base
	text-align: center
	padding: 0.4em 0.6em
	margin: 1em auto
	box-shadow: 0 .2em 0px 0px rgba($color.teal.light, 0.75)
	&:before, &:after
		content: ""
		position: absolute
		display: block
		bottom: 0
		border: 1.2em solid $color.salmon.base
		z-index: -1
	&:before
		left: -2em
		border-right-width: 0.8em
		border-left-color: transparent
		box-shadow: 0 .2em 0px 0px rgba($color.teal.light, 0.75)
	&:after
		right: -2em
		border-left-width: 0.8em
		border-right-color: transparent
		box-shadow: 0 .2em 0px 0px rgba($color.teal.light, 0.75)


