/*! ==========================================
 * Preface
 *
 * .preface
 * .preface__fig
 * .preface-fig__img
 *
 * .preface-fig--flip
 * .preface-fig__side1
 * .preface-fig__side2
 * .js-preface-fig-side1--flip
 * .js-preface-fig-side2--flip
 *
 * .preface__txt
 * .preface-txt--wrap
 * .preface-txt__button
 * .preface-txt__description
 * ========================================== */

@require '../util/function'
@require '../global/animation'

.preface
	margin-top: 1.5rem
	margin-left: auto
	margin-right: auto
	animation: fade--in 0.675s ease-in-out

.preface__fig
	display: block
	position: relative
	margin: 0 auto
	max-height: 450px
	max-width: 450px

.preface-fig__img
	max-width: 100%
	height: auto

.preface__txt
	width: 100%
	margin-top: 1.5rem
	margin-bottom: 3rem

.preface-txt--wrap
	width: 100%
	height: 100%
	max-height: 450px
	min-height: 340px
	justify-content: center

.preface-txt__button
	position: relative
	width: 5em
	max-height: 4.5rem
	margin: 0 auto 1.5rem auto
	border-radius: 5px
	background-image: linear-gradient($color-link.body.default, $color-link.body.default)
	background-size: 100%
	fontSmoothing(true)
	font-style: italic
	font-weight: 700
	font-size: 2rem
	line-height: 4.5rem
	text-align: center
	cursor: pointer
	animation: clicky 0.65s ease-in-out
	&:after
		content: "Yep."
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 0
		background-image: linear-gradient($color.text.base, $color.text.base)
		background-size: 100%
		border-radius: 5px
		text-align: center
		color: #FFF
		overflow: hidden
		transition: all 0.5s
		fontSmoothing(true)
	&:hover:after
		height: 100%

.no-js .preface-txt__button
	display: none;

.preface-txt__description
	width: 100%

.js .preface-txt__description
	max-height: 0
	overflow:hidden
	transition: max-height 1s ease


/*! Image Flip
 * Version: 1.0.0
 * ========================================== */

.preface-fig--flip
	position: absolute
	box-shadow: none
	backface-visibility: hidden
	transform-origin: 50% 50% 0
	transition: all 1s

.preface-fig__side1
	transform: rotateX( 0deg )

.preface-fig__side2
	background-color: rgb(91,158,195)
	transform: rotateX( 180deg )

.js-preface-fig-side1--flip
	transform: rotateX( 0deg ) !important

.js-preface-fig-side2--flip
	transform: rotateX( 180deg ) !important



/*! preface: Screen >= Tablet
 * ===========================================*/

+responsiveBreakPoint($view.sm)
	.preface__txt
		margin-top: 1.5em
		margin-bottom: 3rem



/*! preface: Screen >= Desktop
 * ===========================================*/

+responsiveBreakPoint($view.md)
	.preface__txt
		margin-top: 3rem
		margin-bottom: 5rem

