/*! ==========================================
 * Base
 * ========================================== */

@require "./configuration"
@require "../util/mixin"

/*! IE10: Windows 8, Windows Phone 8
 * Doesn't differentiate device width from viewport width
 */
@-ms-viewport
	width: device-width


/*! Fix Mobile Font Sizing */
+responsiveBreakPoint($view-xs)
	html
		-webkit-text-size-adjust: 100%
		-moz-text-size-adjust: 100%
		-ms-text-size-adjust: 100%

*
	box-sizing: border-box
	text-rendering: optimizeLegibility

body
	position: relative
	font-family: $font-serif
	font-weight: normal
	font-size: 1rem
	font-smoothing(false)
	line-height: 1.5rem
	color: $color.text.base
	background-color: $color.white.pure
	display: flex
	flex-direction: column
	min-height: 100vh

h1,h2,h3,h4,h5,h6
	font-family: $font-sans
	font-weight: normal
	line-height: 2em

h1
	font-size: 1.75em

h2
	font-size: 1.25em

small
	font-size: 0.8em

a
	color: $color.teal.dark
	text-decoration: none
	&:visited
		color: $color.salmon.light
	&:hover
		text-decoration: underline
	&:active
		color: $color.black.pure

::selection
	color: $color.white.pure
	background-color: $color.salmon.base
	font-smoothing(true)

/*! Autoprefixer enjoys removing font-smoothing; ugh.
 * Use this to keep things DRY
 */
.font-smoothing
	font-smoothing(true)

