// =============================================================================
// Site Configuration
// "Variables for Functions and Mixins. Ohh MY!
//
// Author: Franky Martinez <frankymartz@gmail.com>
// Require: "../util/functions.styl"
// =============================================================================

@require "../util/function"

// Typography
// =============================================
$font-sans = "Helvetica Neue", Helvetica, "Lucida Grand", Arial sans-serif
$font-serif = Georgia, Times, serif
$font-monospace = "courier new", monospace, serif


// Colors
// =============================================
$color-background = #FFF
$color-link = #02779E
$color-link-hover = #63D3FF
$color-link-visited = #02779E
$color-text = #333
$color-spot = #FF548F
$color-selection-background = $color-link
$color-selection-text = $color-background


// Responsive Breakpoint
// =============================================
$view-xs = pxToEm(480px)	// Phone
$view-sm = pxToEm(768px)	// Tablet
$view-md = pxToEm(992px)	// Desktop
$view-lg = pxToEm(1200px)	// Large Desktop

// no media query overlapping
//$view-xs-max = $view-sm - 1
//$view-sm-max = $view-md - 1
//$view-md-max = $view-lg - 1

