// =============================================================================
// Site Configuration
// "Variables for Functions and Mixins. Ohh MY!
//
// Author: Franky Martinez <frankymartz@gmail.com>
// Require: "../util/functions.styl"
// =============================================================================

@require "../util/function"

// Layout
// =============================================

// Main content needs to stretch for sticky footer.
$main-wrap = @block {
	position: relative
	flex: 1
}

// Typography
// =============================================
$font-sans = "Lucida Grand", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Arial sans-serif
$font-serif = Georgia, Times, serif
$font-monospace = "courier new", monospace, serif


// Colors
// =============================================
$color = {
	text: {
		light: lighten(#4B4B50, 48%),
		base: #4B4B50
	},
	white: {
		pure: #FFF
		grey: #F4F4F4
	},
	black: {
		pure: #000,
		grey: #333
	},
	grey: {
		light: #CACACA,
		base: #999
	},
	salmon: {
		light: #F49171,
		base: #DD7060,
		dark: #DA3C25
	},
	teal: {
		light: #8CD8D5,
		base: darken(#8CD8D5, 15%),
		dark: darken(#8CD8D5, 30%)
	}
}

$mobile = {
	margin: 22px
}

// Responsive Breakpoint
// =============================================
$view-xs = pxToEm(480px)	// Phone
$view-sm = pxToEm(768px)	// Tablet
$view-md = pxToEm(992px)	// Desktop
$view-lg = pxToEm(1200px)	// Large Desktop

// no media query overlapping
//$view-xs-max = $view-sm - 1
//$view-sm-max = $view-md - 1
//$view-md-max = $view-lg - 1

