// =============================================================================
// Site Configuration
// "Variables for Functions and Mixins. Ohh MY!
//
// Author: Franky Martinez <frankymartz@gmail.com>
// Require: "../util/functions.styl"
// =============================================================================

@require "../util/function"


// Typography
// =============================================

$font = {
	sans: "Lato"\, "Lucida Grand"\, "Helvetica Neue"\, Helvetica\, Arial\, sans-serif
	serif: "Noticia Text"\, Georgia\, Times\, serif
	mono: Menlo\, Consolas\, Courier\, monospace\, serif
}


// Colors
// =============================================

$color = {
	text: {
		light: #979797,
		base: #4A4A4A,
		dark: darken(#4B4B50, 45%)
	},
	white: {
		base: #FAFAFA,
		grey: #F1F1F1
	},
	black: {
		grey: #333,
		red: #37201C
	},
	grey: {
		light: #BBB,
		base: #979797
	},
	salmon: {
		light: #F49171,
		base: #FC8472,
		dark: #DA3C25
	},
	teal: {
		light: #8CD8D5,
		//base: darken(#8CD8D5, 15%),
		base: #2CAF73,
		dark: darken(#8CD8D5, 30%)
	},
	blue: {
		base: #58B9F6,
		dark: darken(#58B9F6, 30%)
	},
	yellow: {
		//base: #FFF68C
		base: #FFFABA
	}
}

$color-background = {
	body: #FFF,
	footer: $color.white.base,
	header: $color.salmon.base
}

$color-link = {
	head: {
		default: $color.text.base
		active: $color.salmon.dark
		visited: $color.text.base
	},
	body: {
		default: $color.salmon.base,
		hover: $color.blue.base,
		active: #000,
		visited: $color.salmon.dark
	},
}


// Responsive Breakpoint
// =============================================

$min-width = 320px
//$max-width = 680px
$max-width = pxToEm(680, rem) // 42.5rem

$view = {
	sm: pxToEm(480px),	// Phone
	md: pxToEm(768px),	// Tablet
	lg: pxToEm(992px),	// Desktop
	xl: pxToEm(1200px),	// Large Desktop
}

$margin = {
	sm: 22px,
	md: 2rem,
	lg: 3rem
}

