/*! ==========================================
 * Footer
 * ========================================== */

@require "../global/configuration"

.footer
	display: flex
	padding: 2em 1.2rem
	background-color: $color.white.grey
	border-top: 1px solid darken($color.white.grey, 4%)
	font-family: $font-sans
	color: lighten($color.text, 40%)
	font-size: 0.75rem
	line-height: 1.5em

.footer a
	color: $color.black.grey

.footer-column
	flex: 1

svg.github-icon-svg,
svg.twitter-icon-svg
	display: inline-block
	width: 1rem
	height: 1rem
	position: relative
	top: 0.15rem
	fill: $color.black.grey
