/*! ==========================================
 * GitHub Event Feed
 *
 * .git__event
 * .git-event__aside
 * .git-event__main
 * .git-event-main__datetime
 * .git-event-main__content
 * .git-event-main__description
 *
 * ========================================== */

// min-width: 356 not including padding or border

.git
	order: 1

.git__event
	display: flex
	align-items: flex-start
	padding-top: 1rem
	padding-bottom: 1rem
	font-family: $font.sans
	font-size: pxToEm(14, rem)
	border-top: 1px solid $color.white.grey

.git-event__aside
	margin-right: 0.8em
	width: 1rem
	color: $color.grey.light
	+responsiveBreakPoint($view.sm)
		& > .octicon
			vertical-align: 20%

/*! IE10 doesn't respect 100% view width;
 * so I have to be explicit. 92%
 */
.git-event__main
	display: inline-block
	max-width: 92%
	line-height: 1.5em

.git-event-main__datetime
	display:inline-block
	color: $color.grey.light
	font-size: 0.8rem
	font-style: italic

.git-event-main__content
	font-weight: 700
	margin-bottom: 0

.git-event-main__description
	padding-top: 1em
	padding-bottom: 1em
	font-size: 0.9em;
	list-style: none
	& .octicon
		padding-right: 0.5em
	& a.octicon
		cursor: pointer



/*! GitHub: Screen >= Tablets
 * ===========================================*/

+responsiveBreakPoint($view.sm)
	.git
		flex: 0 1 65%
		order: 2
		padding-left: $margin.sm



/*! GitHub: Screen >= Desktop
 * ===========================================*/

+responsiveBreakPoint($view.md)
	.git
		flex: 0 1 55%
		padding-left: $margin.md
