/*! ==========================================
 * Github Event Feed
 * ========================================== */

.home-github-event
	display: flex
	align-items: flex-start
	margin-bottom: 1em
	font-family: $font.sans

.home-github-event-icon
	margin-right: 1em
	width: 2rem
	color: $color.grey.base

.home-github-event-body
	//display: flex
	//flex-wrap: wrap
	//flex: 1
	//align-items: baseline
	line-height: 1.5em


.home-github-event-body-link
	padding: 0.3em 0.5em
	border-radius: 3px
	font-family: $font.mono
	font-size: 0.75rem
	background-color: aliceblue
	color: $color.grey.base
	.octicon
		width: 1em
		color: $color.grey.light

.home-github-event-datetime
	display:inline-block
	color: $color.grey.base
	font-size: 0.8rem
