/*! ==========================================
 * Header
 * ========================================== */
@require "../util/function"

.header
	display: flex
	flex-direction: column
	justify-content: center
	align-items: center
	color: $color.white.pure
	font-family: $font-sans
	font-smoothing(true)
	background: $color.salmon.base
	border-top: $color.salmon.light solid 6px

a.header-logo
	width: 80px
	height: 80px
	margin: 1rem auto
	border-radius: 50%
	background-color: $color.white.pure

.nav
	margin: 1rem auto

a.nav-link
	padding-bottom: 0.1em
	font-size: 0.85em
	color: $color.white.pure
	text-shadow: 0 0.15em 1px $color.salmon.dark
	&:hover
		text-decoration: none
		border-bottom: $color.white.pure solid 0.2em
