/*! ==========================================
 * Instagram Feed
 *
 * .instagram
 * .instagram__item
 * .instagram-item__info
 * .instagram-item-info__head
 * .instagram-item__image
 *
 * ========================================== */

.instagram
	order: 2
	& .octicon
		padding-right: 0.5em
	& .octicon-comment
		padding-left: 0.5em

.instagram__item
	display:block
	position: relative
	background-color: #000
	&:hover > .instagram-item__image
		opacity: 0.20
	&:hover > .instagram-item__info
		transform: translateY(0)
		opacity: 1

.instagram-item__info
	display: block
	position: absolute
	z-index: 1984
	width: 100%
	margin-left: auto
	margin-right: auto
	padding-top: 25%
	padding-left: 2em
	padding-right: 2em
	text-align: center
	color: #FFF
	font-weight: 700
	font-size: 1rem
	opacity: 0
	transform: translateY(2.5em)
	transition-property: opacity, transform
	transition-duration: 0.5s
	fontSmoothing(true)

.instagram-item-info__head
	display: block
	font-size: 2rem
	font-size: 8vw
	padding-bottom: 1em
	line-height: 1em

.instagram-item__image
	width: 100%
	height: auto
	z-index: 0
	display: block
	transition: opacity 0.5s


/*! Instagram: Screen >= Tablets
 * ===========================================*/

+responsiveBreakPoint($view.sm)
	.instagram
		order: 1
		flex: 1 1 0px;

	.instagram-item-info__head
		display: none
		font-size: 2rem

	.instagram-item__info
		padding-left: 0.8em
		padding-right: 0.8em



/*! Instagram: Screen >= Desktop
 * ===========================================*/

+responsiveBreakPoint($view.md)
	.instagram-item-info__head
		display: block

	.instagram-item__info
		padding-top: 20%

