/*! ==========================================
 * Twitter
 *
 * .home-section--twitter
 * .twitter
 * .twitter-timeline
 * ========================================== */

.home-section--twitter
	width: 100%
	max-width: 680px

.twitter
	text-align: center
	& .twitter-timeline
		max-width: 450px !important
		min-width: unit(($min-width - $margin.sm * 2), px) !important
		width: 100% !important


.twitter-timeline
	transition: height 0.5s

#twitter-timeline-0
	width: 100%
