<footer class="footer">

  <div class="footer-directory">
    <!-- Column One -->
    <nav class="footer-directory-column">
      <ul>
        <li>{{ site.title }}</li>
        <li>{% include email.html %}</li>
      </ul>
    </nav>
    <!-- Column Two -->
    <nav class="footer-directory-column">
      <ul>
        <li>
          <a href="{{ site.github }}">
            <i class="octicon octicon-octoface"></i>
            <span class="username">{{ site.username }}</span>
          </a>
        </li>
        <li>
          <a href="{{ site.twitter }}">
            <i class="fa fa-twitter fa-lg"></i>
            <span class="username">{{ site.username }}</span>
          </a>
        </li>
        <li>
          <a href="{{ site.instagram }}">
            <i class="fa fa-instagram fa-lg"></i>
            <span class"username">{{ site.username }}</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- Column Three -->
    <div class="footer-directory-column">
      <p>{{ site.description }}</p>
    </div>
  </div>

  <div class="footer-copyright" role="contentinfo">
    <p>&copy; {{ site.author }} 2014. All Rights Reserved.</p>
    <a class="footer-copyright-cc" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"></a>
  </div>

</footer>
