{% capture img_url %}{{ 'img/' | prepend: site.cdn }}{% endcapture %}
{% capture icon_url %}{{ 'img/root/' | prepend: site.cdn }}{% endcapture %}
{% capture css_url %}{{ 'css/' | prepend: site.cdn }}{% endcapture %}
{% capture js_url %}{{ 'js/' | prepend: site.cdn }}{% endcapture %}

{% comment %}
<!-- Optimization is occuring where this runs only once for entire site. -->
{% assign page_url = {{ page.url | replace:'index.html','' | prepend: site.url }} %}
{% endcomment %}

{% if page.title %}
  {% capture title %}{{ page.title | prepend: ' - ' | prepend: site.title }}{% endcapture %}
{% else %}
  {% assign title = site.title %}
{% endif %}

{% if page.excerpt %}
  {% capture description %}{{ page.excerpt | strip_html | strip_newlines }}{% endcapture %}
{% else %}
  {% assign description = site.description %}
{% endif %}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <meta name="copyright" content="Copyright {{ site.author }} 2014. All Rights Reserved.">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <!-- facebook -->
  <meta property="og:title" content="{{ title }}">
  <meta property="og:site_name" content="frankymartz">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ page.og_image | ifelse: page.og_image, 'ogimage.png' | prepend: icon_url }}">
  <!-- twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description  }}">
  {% if page.twitter_image %}
  <meta name="twitter:image" content="{{ page.twitter_image | prepend:img_url }}">
  {% endif %}
  <!-- icons -->
  <link rel="icon" type="image/png" href="{{ 'favicon.png' | prepend: icon_url }}">
  <link rel="shortcut icon" type="image/ico" href="{{ 'favicon.ico' | prepend: icon_url}}">
  <link rel="apple-touch-icon" href="{{ 'touch-icon-iphone.png' | prepend: icon_url }}">
  <link rel="apple-touch-icon" href="{{ 'touch-icon-ipad.png' | prepend: icon_url }}" sizes="76x76">
  <link rel="apple-touch-icon" href="{{ 'touch-icon-iphone-retina.png' | prepend: icon_url }}" sizes="120x120">
  <link rel="apple-touch-icon" href="{{ 'touch-icon-ipad-retina.png' | prepend: icon_url }}" sizes="152x152">
  <meta name="msapplication-config" content="{{ '/ieconfig.xml' }}">
  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato:400,700,900|Noticia+Text:400,700,400italic,700italic">
  {% if page.octicon %}
  <link rel="stylesheet" type="text/css" href="{{ site.cdn }}fonts/octicons/octicons.css">
  {% endif %}
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ 'main.css' | prepend: css_url }}">
  {% if page.stylesheet %}
  <link rel="stylesheet" type="text/css" href="{{ page.stylesheet | prepend: site.cdn }}">
  {% endif %}
  <!-- JavaScript -->
  <script type="text/javascript" src="{{ 'preload.js' | prepend: js_url }}"></script>
  <script type="text/javascript" src="{{ 'vendor/modernizr.custom.33497.js' | prepend: js_url }}"></script>
  {% if page.jsPrepend %}
  <script type="text/javascript" src="{{ page.jsPrepend | prepend: js_url }}"></script>
  {% endif %}
</head>
