// =============================================================================
// Function Helpers
// "Help yourself."
//
// author: Francisco Martinez <frankymartz@gmail.com>
// =============================================================================


// Unit Conversions
// =============================================
pxToEm($value)
	return unit($value / 16, em)

pxToPct($value)
	return unit($value / 16 * 100, "%")

pxToPt($value)
	return unit($value * (72 / 96), pt)

emToPx($value)
	return unit($value * 16, px)

emToPct($value)
	return unit($value * 100, "%")


// Dimensions
// =============================================
imageWidth($path)
	return image-size($path)[0]

imageHeight($path)
	return image-size($path)[1]

