@charset "UTF-8"
/*! ==========================================================================
 * Project Crunchy Chips v1.0
 * "They were delicious."
 *
 * Author: Franky Martinez <frankymartz@gmail.com>
 * ========================================================================== */

// Base
@require "./global/reset"
@require "./global/base"

// Layout


// Modules
@require "./modules/header"
@require "./modules/footer"

// Debug
//@require "./util/diagnostic"
//@require "./util/diagnostic-ie7"

