@css {---
layout: null
---}
@charset "UTF-8"
/*! ==========================================================================
 * Project Crunchy Chips v1.0
 * "They were delicious."
 *
 * Author: Franky Martinez <frankymartz@gmail.com>
 * ========================================================================== */

// Util
@require "./global/reset"
@require "./global/animation"
@require "./util/invisible"

// Base
@require "./global/base"
@require "./global/layout"
@require "./modules/header"
@require "./modules/footer"

// Pages
@require "./pages/home"
@require "./pages/about"
@require "./pages/post"
@require "./pages/foreword"

// Modules
@require "./modules/twitterFeed"
@require "./modules/githubFeed"
@require "./modules/instagramFeed"
@require "./modules/syntax"

// Debug
//@require "./util/diagnostic"
//@require "./util/diagnostic-ie7"

