@charset "UTF-8"
/* ==========================================================================
 * Base16 Eighties Dark
 * Originally designed by Chris Kempson (http://chriskempson.com)
 *
 * Author: Franky Martinez <frankymartz@gmail.com>
 * ========================================================================== */

// Variables
// =============================================
$background = #2d2d2d
$current-line = #393939
$selection = #515151
$foreground = #f2f0ec
$comment = #747369
$red = #f2777a
$orange = #f99157
$yellow = #ffcc66
$green = #99cc99
$aqua = #66cccc
$blue = #6699cc
$purple = #cc99cc


// Syntax
// =============================================
.highlight
	background: $background
	color: $foreground
	.hll
		background-color: $selection
	.c
		color: $comment  /* Comment */
	.err
		color: $red  /* Error */
	.k
		color: $purple  /* Keyword */
	.l
		color: $orange  /* Literal */
	.n
		color: $foreground  /* Name */
	.o
		color: $aqua  /* Operator */
	.p
		color: $foreground  /* Punctuation */
	.cm
		color: $comment  /* Comment.Multiline */
	.cp
		color: $comment  /* Comment.Preproc */
	.c1
		color: $comment  /* Comment.Single */
	.cs
		color: $comment  /* Comment.Special */
	.gd
		color: $red  /* Generic.Deleted */
	.ge
		font-style: italic  /* Generic.Emph */
	.gh
		color: $foreground  /* Generic.Heading */
		font-weight: bold
	.gi
		color: $green  /* Generic.Inserted */
	.gp
		color: $comment  /* Generic.Prompt */
		font-weight: bold
	.gs
		font-weight: bold  /* Generic.Strong */
	.gu
		color: $aqua  /* Generic.Subheading */
		font-weight: bold
	.kc
		color: $purple  /* Keyword.Constant */
	.kd
		color: $purple  /* Keyword.Declaration */
	.kn
		color: $aqua  /* Keyword.Namespace */
	.kp
		color: $purple  /* Keyword.Pseudo */
	.kr
		color: $purple  /* Keyword.Reserved */
	.kt
		color: $yellow  /* Keyword.Type */
	.ld
		color: $green  /* Literal.Date */
	.m
		color: $orange  /* Literal.Number */
	.s
		color: $green  /* Literal.String */
	.na
		color: $blue  /* Name.Attribute */
	.nb
		color: $foreground  /* Name.Builtin */
	.nc
		color: $yellow  /* Name.Class */
	.no
		color: $red  /* Name.Constant */
	.nd
		color: $aqua  /* Name.Decorator */
	.ni
		color: $foreground  /* Name.Entity */
	.ne
		color: $red  /* Name.Exception */
	.nf
		color: $blue  /* Name.Function */
	.nl
		color: $foreground  /* Name.Label */
	.nn
		color: $yellow  /* Name.Namespace */
	.nx
		color: $blue  /* Name.Other */
	.py
		color: $foreground  /* Name.Property */
	.nt
		color: $aqua  /* Name.Tag */
	.nv
		color: $red  /* Name.Variable */
	.ow
		color: $aqua  /* Operator.Word */
	.w
		color: $foreground  /* Text.Whitespace */
	.mf
		color: $orange  /* Literal.Number.Float */
	.mh
		color: $orange  /* Literal.Number.Hex */
	.mi
		color: $orange  /* Literal.Number.Integer */
	.mo
		color: $orange  /* Literal.Number.Oct */
	.sb
		color: $green  /* Literal.String.Backtick */
	.sc
		color: $foreground  /* Literal.String.Char */
	.sd
		color: $comment  /* Literal.String.Doc */
	.s2
		color: $green  /* Literal.String.Double */
	.se
		color: $orange  /* Literal.String.Escape */
	.sh
		color: $green  /* Literal.String.Heredoc */
	.si
		color: $orange  /* Literal.String.Interpol */
	.sx
		color: $green  /* Literal.String.Other */
	.sr
		color: $green  /* Literal.String.Regex */
	.s1
		color: $green  /* Literal.String.Single */
	.ss
		color: $green  /* Literal.String.Symbol */
	.bp
		color: $foreground  /* Name.Builtin.Pseudo */
	.vc
		color: $red  /* Name.Variable.Class */
	.vg
		color: $red  /* Name.Variable.Global */
	.vi
		color: $red  /* Name.Variable.Instance */
	.il
		color: $orange  /* Literal.Number.Integer.Long */
	.lineno
		color: $comment  /* Line Number */

